.title {
    color: ghostwhite;
    font-family: 'Courier New', Courier, monospace;
}

.nolog-container {
    margin: auto;
    width: 60%;
    border: 2px solid whitesmoke;
    padding: 25px;
}

.derek {
    color:whitesmoke;
}

.nolog-title {
    color: whitesmoke;
    font-size: 32pt;
    font-family: 'Courier New', Courier, monospace;
}

.nolog-text {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.splashy {
    border: 1px solid ghostwhite;
    max-width: 600px;
    justify-content: center;
}

.splashy > li {
    color: ghostwhite;
    size: 22px;
    font-family:'Courier New', Courier, monospace;
    padding: 15px;
}
