.ideasWeb {
    margin: 2rem;
    text-align: center;
}

h1 {
    color: rgb(1, 101, 216);
}

.drag-drop-zone {
    padding: 2rem;
    text-align: center;
    background: rgb(1, 101, 216);
    width: 15vh;
    height: 7vh;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 15px #C0C0C0;
}

.drag-drop-zone p {
    color: #FFF;
}

.drag-drop-zone.inside-drag-area {
    opacity: 0.7;
}

.dropped-files li {
    color: rgb(1, 101, 216);
    padding: 3px;
    text-align: left;
    font-weight: bold;
}
