.profile-dropdown {
  position: absolute;
}

.navbar_container {
  height: 76px;
  width: auto;
  background-color: #34434E;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid #AAB2BC
}

.navbar_buttons__container {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

h2 {
  margin-right: 100px;
  color: ghostwhite;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}

.navbar_buttons {
  text-decoration: none;
  background-color: #F6F6FC;
  border: none;
  color: black;
  height: 15px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  display: inline;
  padding: 10px;
}

.navbar_buttons:hover {
  background-color: #d7d7db;
}

.navbar_links {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 75vh;
  border: 2px solid #AAB2BC;
  background-color: #34434E;
}

.navbar_links > .link_button {
  text-decoration: none;
  background-color: #F6F6FC;
  border: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  display: inline;
  padding: 10px;
}

.navbar_links > .link_button:hover {
  background-color: #d7d7db;
}

.profile {
  height: 25px;
  margin-top: 7.5px;
}
